.container
{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.time
{
    background-color: black;
    font-size:60px;
    color: white;
    padding: 30px;
}






