
.mug{
    display: flex;
    flex-direction: column;
}
.mug-images 
{
   display: flex;
   flex-direction: row;
}
.mug-images a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mug-images img{
    width: 50px; 
    height: 40px;
    cursor: pointer;
}
.mug-comparison
{
    display: none;
}
.container.active .mug
{
  display: none;
}
.container.active .mug-comparison
{
  display: flex;
  flex-direction: column;
}
.mug-comparison .mark{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    width: 160px;
}
.mark-value
{
    display: flex;
    width: 15px;
    background-color: blue;
    color: white;
    justify-content: center;
    cursor: pointer;
}
.question-mug img
{
    width: 75px;
    height: 50px;
   
}