.container
{
    
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.showtimer
{
   box-shadow: 5px;
    font-size:60px;
    color: black;
    padding: 30px;
    background-color: black;
}
.time
{
    background-color: white;
    color: black;
    padding: 12px;
    display:flex;
}

.hour,.minute,.second
{
    border: none;
    width: 70px;
    background-color: white;
    height: 40px;
    font-size: 44px;
    padding-left: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.hour:focus,.minute:focus,.second:focus
{
    outline:none;
}
.hour-div,.minute-div,.seconds-div
{
    display: flex;
    flex-direction: column;
    font-size: 21px;
    padding: 5px;
}
.button
{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    
}
.start,.pause,.stop
{
    display: flex;
    width: 70px;
    background-color: white;
    height: 40px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.resume{
    display: none;
    justify-content: center;
    align-items: center;
}
.button.active .resume
{
    display: flex;
}
.button.active .pause{
    display: none;
}
.start:hover,.pause:hover,.stop:hover{

    background-color: 	 #9494b8;
    color: white;
}
.message
{
    background-color: white;
    color:black;
    margin-top: 10px;
    font-size: 25px;
    padding-left: 75px;
}