body{
    margin: 0;
}
    h1{
        margin:0;
    }
.container{
   background-color: lightblue;
   display: flex;
   flex-direction: row;
  /* justify-content: center;*/
   flex: 1;
  }
.one,.two,.three
{
background-color: orange;
 width: 300px;
 height: 200px;
border: 1px solid white;
text-align: centre;
padding: 5px;
}
