body {
    padding: 70px;
    background-color: white;
    
}
.container {
    list-style-type: none;
    border: 1px solid #e60000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    padding: 10px;  
}
.section {
    background-color: #006622;
    height: 100px;
    border: 1px solid orange;
    width: Calc( 100%/3 - 2px);
}

