#tableMain {
    font-family: cursive;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tableMain td, #tableMain th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tableMain tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  #tableMain tr:hover {
    background-color: #ddd;
  }
  #tableMain td:nth-child(4){
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  #tableMain td:nth-child(3){
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
  }
  .editTask,.deleteTask {
    img{
      width: 20px;
    }
  }
  #tableMain th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ac6bb8;
    color: white;
  }
.container{
    width: 100%;
    min-height: 100vh;
    background: rgb(172,122,185);
    background: linear-gradient(90deg, rgba(172,122,185,1) 0%, rgba(97,35,118,1) 62%);    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-app{
    width: 100%;
    max-width: 740px;
    background-color: #fff;
    padding: 40px 30px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    h2{
      font-family: cursive;
      color: #7039a4;
      font-size: xx-large;
    }
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 3px;
    height: 10px;
    padding: 16px 7px;
    width: 725px;
}
.inputTextTodo{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
button{
    border: none;
    padding: 6px 18px;
    border-radius: 7px;
    background-color: #7c3894;
    color: #fff;
    font-size: 13px;
    width: 90px;
}
button.addTask{
  width: 121px;
}
