* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
  }
  
  .container {
    height: 100vh;
    position: relative;
    display: flex;
  
  }
  .slideshow ul li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    z-index:-1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }
  .main-div
  {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, #4b52526e 45%,  #00000096 45%);
  }
  
  .leftmenu{
    width: 20%;
    line-height: 100Px;
    float: left;
  }
  .rightmenu{
    width: 64%;
    height: 100Px;
    float: right;
  }
  .leftmenu h4{
    padding-left: 70px;
    font-weight: 100;
    color: white;
    font-size: 30px;
   
  }
  .rightmenu ul{
    margin-left: 200px;
  }
  .rightmenu ul li{
    display: inline-block;
    list-style: none;
    font-size: 18px;
    color: white;
    font-weight: 100;
    line-height: 100px;
    margin-left: 40px;
    cursor: pointer;
  }
  
  .rightmenu ul li:hover{
    color: #84acb0;
  }
  .text-content{
    width: 100%;
    margin-top: 185px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 55%;
    align-items: flex-start;
  }
  .text-content h3{
    font-size: 25px;
    font-weight: 100;
  }
  .text-content p{
    font-size: 15px;
    margin: 40px 0px;
  }
  .line{
    width: 480px;
    height: 1px;
    background-color: white;
  }
  .btn{
    background-color: rgba(255,255,255, 0.164);
    color: black;
    border: none;
    font-size: 18px;
    font-weight: 100;
    height: 40px;
    width: 150px;
    margin-top: 25px;
    cursor: pointer;
    background-color: white;
  }
  .btn:hover
  {
    background-color: black;
    color: white;
  }
  .buttons
  {
    display: flex;
  }
  .pause-btn
  {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0deg 30% 92% / 82%);
    margin-left: 267px;
    margin-top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.pause{
   width: 10px;
   height: 10px;
   background: black;
   clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
   border: none;
}
.play
{
 display: none;
 width: 12px;
 height: 12px;
 background: black;
 border: none;
 transition: inherit;
 clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
}
.pause-btn.active1 .pause{
  display: none;
}
.pause-btn.active1 .play{
  display: flex;
}
.slider-button
{
  margin-left: 10px;
  margin-top: 135px;
}
.slider-button .slide-btn
{
  width: 12px;  
  height:12px;
  border: none;
  border-radius: 0px;
  background-color: hsl(0deg 30% 92% / 82%);
}
.footer p{    font-size: 12px;
  margin-top: 25px;
  color: white;
  padding-left: 75%;
}
.slider-button .slide-btn.active
{
  background-color: rgb(255, 255, 255);
  width: 13px;
  height: 13px;
}
